@media (max-width: 1399px)
    .menu
        &__list
            padding: 0
        &__item
            padding: 0px 36px


@media (max-width: 1199px)
    .menu
        &__item
            padding: 0px 25px
        &__link
            font-size: 14px
    .header
        &__phone
            font-size: 18px
        &__btn
            width: 134px
            height: 40px
    .promo
        &__title
            font-size: 55px
        &__subtitle
            font-size: 32px
        &__descr
            width: 910px
            font-size: 16px
        &__btn
            width: 234px
            height: 54px
    .reasons
        &__item
            margin-left: 0px
            min-height: 168px
        &__circle
            margin-right: 15px
        &__text
            width: 326px
        &__topic
            font-size: 15px
        &__descr
            font-size: 14px
    .applications
        &__topic
            font-size: 20px
    .footer
        &__head-list
            width: 328px
        &__subhead-list
            width: 326px
        &__app
            padding-right: 8px
    .btn
        &_fz14
            font-size: 11px
        &_fz18
            font-size: 15px
    .title
        font-size: 32px



@media (max-width: 991px)  
    .menu
        &__item
            padding: 0px 12px
            height: 30px
        &__link
            display: block
            height: 100%
            font-size: 12px
            line-height: 30px
            cursor: default
    .header
        &__title
            font-size: 12px
    .promo
        &__title
            font-size: 48px
        &__subtitle
            font-size: 30px
        &__descr
            width: 670px
    .reasons
        &__item
            min-height: 168px
            justify-content: center
    .applications
        &__circle
            cursor: default
    .car
        min-height: 800px
        padding: 56px 0 50px 0
        background: var(--b-color)
        &__img
            width: 690px
            height: 455px
        &__text
            color: var(--w-color)
    .cities
        min-height: 660px
        &__link
            cursor: default
            &:hover
                color: var(--main-color)
    .footer
        &__wrapper
            flex-direction: column
        &__socials
            margin-top: 15px
            width: 100%
            padding-left: 0
            justify-content: center
        &__socials-link
            cursor: default
        &__menu
            width: 100%
            order: -1
        &__head-list
            width: 372px
        &__head-link
            cursor: default
            &:hover
                color: #070716
        &__subhead-list
            width: 400px
        &__subhead-link
            cursor: default
            &:hover
                color: #999999
        &__app
            margin-top: 15px
            width: 100%
            justify-content: center
        &__app-link
            cursor: default
    .btn
        &:hover
            cursor: default
            background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
            
            


@media (max-width: 767px) 

@media (max-width: 575px) 
    