.promo
    min-height: 800px
    position: relative
    background: url('../img/head_bg.jpg') center center/cover no-repeat
    padding: 144px 0 185px 0
    &__header
        position: absolute
        top: 0 
        width: 100%
        min-height: 84px
        background-color: rgba(0, 0, 0, 0.6)
    &__header-logo
        display: block
        margin-top: 17px
    &__header-img
        max-width: 100%
    &__header-title
        margin-top: 5px
        font-weight: 100
        font-size: 13px
        color: var(--w-color)
    &__phone-descr
        margin-top: 21px
        font-weight: 300
        font-size: 12px
        text-align: right
        color: var(--w-color)
    &__phone
        display: block
        text-align: right
        font-weight: 400
        font-size: 22px
        text-transform: uppercase
        text-decoration: none
        color: var(--w-color)
        &:hover
            color: var(--w-color)
    &__header-btn
        margin-top: 20px
        width: 162px
        height: 46px
    &__title
        margin-bottom: 0
        font-weight: 700
        font-size: 60px
        text-align: center
        text-transform: uppercase
        color: var(--w-color)
    &__subtitle 
        font-weight: 700
        font-size: 36px
        text-align: center
        text-transform: uppercase
        color: var(--w-color)
    &__descr
        width: 985px
        margin: 16px auto 0 auto
        padding: 0 5px
        font-weight: 400
        font-size: 18px
        line-height: 24px
        text-align: center
        color: var(--w-color)
    &__btn
        margin: 116px auto 0 auto
        width: 259px
        height: 63px
        
            