.title
    margin-bottom: 0
    font-weight: 700
    font-size: 38px
    line-height: 48px
    text-align: center
    text-transform: uppercase
    color: var(--b-color)
    &_white
        color: var(--w-color)

.signature
    font-weight: 400
    font-size: 17px
    line-height: 21px
    text-align: center
    color: #222222
    &_white
        color: var(--w-color)
